{% extends "base.html" %}

{% block content_title %}
<title> home view </title>
{% endblock content_title %}

{% block content %}
    <div class="row jumbotron text-center" >
    <table style="width:70%; margin-left:5%; margin-right:5%" id="t01">
      <tr>
        <th>Month</th>
        <th>Result</th>
      </tr>

      {% for key, value in summData.items %}
      <tr>
       {% if "Rate" in key %}
        <td>{{key}}</td>
        <td>{{value}}%</td>
        {% else %}
        <td>{{key}}</td>
        <td>{{value}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock content %}
