<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main</title>
  {% include 'header.html' %}
</head>
<body>
  {% include 'nav.html' %}

  {% if provider.items %}
  <div class="container">
		{% for i in provider.items %}
    {% include 'listProvider.html' %}
	  {% endfor %}
	</div>
  <div class="row jumbotron text-center">
    <h3> Total number of pages {{ provider.pages }} </h3>
    <h3> Current page number {{ provider.page }} </h3>
    <a href="{{url_for('providerName', page_num=provider.prev_num)}}">previous page</a>
  {% for page in provider.iter_pages(left_edge=3, right_edge=3) %}
    {% if page %}
    <a href="{{url_for('providerName', page_num=page)}}">{{ page }}</a>
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  <a href="{{url_for('providerName', page_num=provider.next_num)}}">next page</a>
</div>
</br>
{% else %}
<div class="container">
  {% for i in provider %}
  {% include 'listProvider.html' %}
  {% endfor %}
</div>

{% if providersId %}

<div class="row jumbotron text-center">
  <h4> Number of pages {{ provider.pages }} </h4>
  <h4> Current page {{ provider.page }} </h4>
  <a href="{{url_for('providerFilterG',
  filterGov=filterGov, page_num=providersId.prev_num)}}">previous page</a>
{% for page in providersId.iter_pages(left_edge=3, right_edge=3) %}
  {% if page %}
  <a href="{{url_for('providerFilterG', filterGov=filterGov, page_num=page)}}">
                                                                {{ page }}</a>
  {% else %}
    ...
  {% endif %}
{% endfor %}
<a href="{{url_for('providerFilterG', filterGov=filterGov,
                              page_num=providersId.next_num)}}">next page</a>
    </div>
    </br>
{% endif %}
{% endif %}
</br>
{% include 'footer.html' %}
</br>
</body>
</html>
