<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main</title>
  {% include 'header.html' %}
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

    {% include 'nav.html' %}

    <div class="row jumbotron text-center" >
    <table style="width:60%; margin-left:20%; margin-right:15%" id="t01">
      <tr>
        <th>Teacher Name</th>
        <th>Class Count</th>
        <th>Class details</th>
      </tr>

      <tbody>
        </tr>

        {% for key, value in lostData.items %}
        <tr class="item">
          <td>{{key}}</td>
          <td>
            {% for key, value in value.items %}
            <li>
            {{key}}
            </li>
            {% endfor %}
          </td>
          <td>
            {{value}}
          </td>


        </tr>
        {% endfor %}

      <tbody>
    </table>
  </div>
  </br>
  {% include 'footer.html' %}
  </br>


</body>
</html>
